@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden; 
  
  height: 100%; 
}

body {
  overflow: scroll; 
}

::-webkit-scrollbar {
  width: 0px; 
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: transparent;
}



::-webkit-scrollbar {
  display: none; }

html {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}
